/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body{
    background-color: #b2bec3;
}

.content{
    background-color: white;
    position: relative;
    width: 550px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 3px 4px rgb(136, 135, 135);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content img{
    position: absolute;
    left:475px;
    bottom: 391px;
    border-radius: 50%;
    width: 150px;
    border: 3px solid white;
}

h1{
    color: #d63031;
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;  
    margin-top: 30px;
}

.content a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px; 
    font-weight: bold;
    text-decoration: none;
    font-variant: small-caps;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.twitter{
    background-color:#1da1f2;
    margin-top: 30px;
    border-radius: 5px;
}

.twitter a:hover{
    background-color:  #0b7bc1; 
}


.facebook{
    background-color:  #3b5998;
    margin-top: 5px;
    border-radius: 5px;
}

.facebook a:hover{
    background-color: #2b406e;
}
